<script>
  // Import modules
  import { extent } from "d3-array";
  import { scaleLinear } from "d3-scale";

  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Export variables
  export let data;
  export let index;
  export let even_week;

  // Initialize variables
  let angle;
  let x_shift;
  
  if(even_week==1){
      x_shift = +12;
      angle = -15;
  }
  else{
      x_shift = 8;
      angle = -165;
  }

  let xScale = scaleLinear().domain([0, data.length]).range([0, 160]);
  let yScale_el = scaleLinear().domain(extent(data, function(d) { return d.total_electrity; })).range([30, 5]);
  let yScale_gas = scaleLinear().domain(extent(data, function(d) { return d.total_gas; })).range([20, 45]);

</script>


<g transform="translate({innerWidth / 2 - 2*margin.left + x_shift}, {innerHeight-100*(index+1)}) rotate({angle})">
  {#each data as dp, index}
  {#if even_week == 1}
    <polygon fill="blue" stroke="blue" stroke-width="0.5px" 
             points="{xScale(index)},{0}
                    {xScale(index+1)+yScale_el(dp.total_electrity)/1.5-(xScale(index+1)-xScale(index))},{-yScale_el(dp.total_electrity)}
                    {2*xScale(index+1)-xScale(index)+yScale_el(dp.total_electrity)/1.5-(xScale(index+1)-xScale(index))},{-(yScale_el(dp.total_electrity))}
                    {xScale(index+1)},{0}"/>
    <polygon fill="orange" stroke="orange" stroke-width="0.5px" 
             points="{xScale(index)},{0}
                    {xScale(index+1)+yScale_gas(dp.total_gas)/1.5-(xScale(index+1)-xScale(index))},{yScale_gas(dp.total_gas)}
                    {2*xScale(index+1)-xScale(index)+yScale_gas(dp.total_gas)/1.5-(xScale(index+1)-xScale(index))},{yScale_gas(dp.total_gas)}
                    {xScale(index+1)},{0}"/>
  {:else}
    <polygon fill="orange" stroke="orange" stroke-width="0.5px" 
             points="{xScale(index)},{0}
                      {xScale(index+1)+yScale_gas(dp.total_gas)/1.5-(xScale(index+1)-xScale(index))},{-yScale_gas(dp.total_gas)}
                      {2*xScale(index+1)-xScale(index)+yScale_gas(dp.total_gas)/1.5-(xScale(index+1)-xScale(index))},{-(yScale_gas(dp.total_gas))}
                      {xScale(index+1)},{0}"/>
    <polygon fill="blue" stroke="blue" stroke-width="0.5px" 
             points="{xScale(index)},{0}
                      {xScale(index+1)+yScale_el(dp.total_electrity)/1.5-(xScale(index+1)-xScale(index))},{yScale_el(dp.total_electrity)}
                      {2*xScale(index+1)-xScale(index)+yScale_el(dp.total_electrity)/1.5-(xScale(index+1)-xScale(index))},{yScale_el(dp.total_electrity)}
                      {xScale(index+1)},{0}"/>
  {/if}
  {/each}
</g>




