<script>
	import {json} from 'd3-fetch';
  	import {onMount} from 'svelte';
	import Script from "./_design_2.svelte";
  
	

	
	// Load the data
	let datapoints = null;
	onMount(async () => {
		datapoints = await json("data/daily_heating_cooling.json");
	});
</script>
  
{#if datapoints}
	  <Script datapoints={datapoints}/>
{/if}
