<script>
    import Ex_10_child from "./_ex_10_child.svelte"
    let answe = 42
    </script>
    
    <div>
    <p> Life the universe and everything? </p>
        <Ex_10_child answer={answe} />
    </div>
    
    