<script>
  let current = "";
</script>
<style>
  .clicked {
    background-color: rgb(28, 20, 134);
  }
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")} class:clicked={current == "messi"}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} class:clicked={current == "ronaldo"}>
  Ronaldo
</button>


<button class="btn btn-secondary" on:click={() => (current = "neymar")} class:clicked={current == "neymar"}>
  Neymar
</button>
