<script>
import { compute_slots } from "svelte/internal";


   function circum(a) {
       return 2*3.1415926*a
   }
   const r=2
   const circumference = circum(r)
</script>
<p>
   
        The circumference of a circle with radius {r} m is { circumference } m .

</p>
