<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];


  import {extent} from 'd3-array';
  import{schemeDark2} from 'd3-scale-chromatic';
  const classcolor = extent(values, (d) => d.category);
  
  import { scaleLinear, scaleOrdinal} from 'd3-scale';
  const scalex = scaleLinear()
  .domain([1,10])
  .range([0, innerWidth]);
  const scaley = scaleLinear()
  .domain([0,4])
  .range([0, innerHeight]);
  const scalecol=scaleOrdinal()
  .domain(classcolor)
  .range(schemeDark2);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    
    {#each values as val}

      <circle 
      cx={scalex(val.x)} 
      cy={innerHeight - scaley(val.y)} 
      r="7" 
      style="fill: {scalecol(val.category)}"></circle>

      <text
      class="valueLabel"  
      x={scalex(val.x)} 
      y={innerHeight - scaley(val.y) - 10}>{val.y}</text> 
      
      <line 
      x1={scalex(val.x)} 
      x2={scalex(val.x)} 
      y1={height} 
      y2={innerHeight - scaley(val.y)} 
      stroke="black"></line>

      {/each}

  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
